@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <environment names="Development">
        <script src="~/jspm_packages/system.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//cdnjs.cloudflare.com/ajax/libs/systemjs/@(LibraryVersions.SystemJs)/system.js"></script>
    </environment>

    <script src="~/config.js"></script>

    <script>
        SystemJS.import('aurelia-bootstrapper');
    </script>
}

<div aurelia-app="main"></div>