<template>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">
                <button collapse="target.bind: collapseTarget; show.bind: collapseShow;"
                        class="btn btn-default btn-xs">
                    <span toggle-class="toggle.bind: collapseShow;
                          show: glyphicon-chevron-up;
                          hide: glyphicon-chevron-down;" class="glyphicon"></span>
                </button>

                OAuth credentials

                <small>
                    <a href="https://developer.github.com/v3/#rate-limiting">Increase rate limit</a>
                    <a href="https://developer.github.com/v3/#rate-limiting">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </small>
            </h3>
        </div>

        <div element.ref="collapseTarget" class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="oauth-client-id">Client ID</label>
                    <input id="oauth-client-id" type="text" placeholder="xxxx"
                           value.bind="credentials.clientId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="oauth-client-secret">Client Secret</label>
                    <input id="oauth-client-secret" type="text" placeholder="yyyy"
                           value.bind="credentials.clientSecret" class="form-control">
                </div>
            </form>
        </div>
    </div>
</template>