<template>
    <div class="card card-inverse">
        <div class="card-header card-inverse card-warning">
            <div class="card-title">
                <button collapse="target.bind: collapseTarget; show.bind: collapseShow;"
                        class="btn btn-default btn-xs">
                    <icon icon="${collapseShow ? 'chevron-up' : 'chevron-down'}"></icon>
                </button>

                OAuth credentials

                <small>
                    <a href="https://developer.github.com/v3/#rate-limiting">Increase rate limit</a>
                    <a href="https://developer.github.com/v3/#rate-limiting">
                        <icon icon="fa-question-circle-o"></icon>
                    </a>
                </small>
            </div>
        </div>

        <div element.ref="collapseTarget" class="card-block">
            <form class="form-inline">
                <div class="form-group">
                    <label for="oauth-client-id">Client ID</label>
                    <input id="oauth-client-id" type="text" placeholder="xxxx"
                           value.bind="credentials.clientId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="oauth-client-secret">Client Secret</label>
                    <input id="oauth-client-secret" type="text" placeholder="yyyy"
                           value.bind="credentials.clientSecret" class="form-control">
                </div>
            </form>
        </div>
    </div>
</template>