<template>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                ${title}
            </div>
        </div>

        <div class="card-block">
            <progress value.one-way="remainingPercent || 0" max="100" title="${remainingPercent + '%'} remaining"
                      class="progress progress-${contextName}"></progress>

            <div>
                <icon icon="dashboard"></icon>&nbsp;<strong>Remaining:</strong>
                <span class="tag tag-pill tag-${contextName}">${remaining | numberFormat:'0,0'}</span>
                &nbsp;
                <icon icon="database"></icon>&nbsp;<strong>Limit:</strong>
                <span class="tag tag-pill tag-default">${limit | numberFormat:'0,0'}</span>
            </div>
        </div>

        <div class="card-footer">
            <icon icon="clock-o"></icon>&nbsp;<strong>Reset:</strong>

            <code>
                <em>
                    ${reset | dateFormatRelative & signal:'date-format-relative'}
                </em>
                <span class="no-wrap">
                    (${reset | dateFormat:'YYYY-MM-DD HH:mm:ss'})
                </span>
            </code>
        </div>
    </div>
</template>