<template>
    <require from="./api-status/api-rate-limit"></require>
    <require from="./api-status/api-credentials"></require>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">
                <button collapse="target.bind: collapseTarget;
                        icon.bind: collapseIcon;
                        show.bind: collapseShow;"
                        class="btn btn-link btn-xs">
                    <span element.ref="collapseIcon" class="glyphicon"></span>
                </button>

                GitHub API Status

                <button click.trigger="update()" title="Update"
                        class="btn btn-default btn-xs ${isUpdating ? 'disabled' : ''}">
                    <span class="glyphicon ${!isUpdating ? 'glyphicon-refresh' : 'glyphicon-hourglass'} ${isUpdating ? 'disabled' : ''}"></span>
                </button>
            </h2>
        </div>

        <div element.ref="collapseTarget" class="collapse">
            <div class="panel-body">
                <div class="col-md-6">
                    <api-rate-limit if.bind="rateLimits.core"
                                    title.one-time="'Core'" api-limit.bind="rateLimits.core"></api-rate-limit>
                </div>

                <div class="col-md-6">
                    <api-rate-limit if.bind="rateLimits.search"
                                    title.one-time="'Search'" api-limit.bind="rateLimits.search"></api-rate-limit>
                </div>
            </div>

            <div class="panel-footer">
                <api-credentials></api-credentials>
            </div>
        </div>
    </div>
</template>