<template>
    <require from="./repo-list/share-link"></require>
    <require from="./repo-list/presets"></require>
    <require from="./repo-list/repo-table"></require>

    <!--<require from="./value-converters/date-format"></require>
    <require from="./value-converters/date-format-relative"></require>
    <require from="./value-converters/number-format"></require>
    <require from="./custom-attributes/collapse"></require>-->

    <div class="card">
        <div class="card-header card-inverse card-primary">
            <div class="card-title">
                <button collapse="target.bind: collapseTarget;
                    show.bind: collapseShow"
                        class="btn btn-default btn-xs">
                    <icon icon="${collapseShow ? 'chevron-up' : 'chevron-down'}"></icon>
                </button>

                Repositories
            </div>
        </div>
        <div element.ref="collapseTarget" class="collapse">
            <div class="card-block">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="repo-full-name">Full Name</label>
                        <input id="repo-full-name" type="text" placeholder="owner/repo"
                               disabled.bind="isRepoLoading" value.bind="repoFullName"
                               class="form-control"/>
                    </div>
                    <button type="submit" click.trigger="addRepo(repoFullName)"
                            disabled.bind="isRepoLoading || !isRepoFullNameValid"
                            class="btn btn-primary">
                        <icon icon="plus"></icon>
                        Add
                    </button>
                </form>
            </div>

            <repo-table repos.bind="repos"></repo-table>

            <div class="card-footer">
                <share-link></share-link>

                <presets></presets>
            </div>
        </div>
    </div>
</template>