<template>
    <span>
        <button modal="target.bind: modalTarget" title="Show data"
                 class="btn btn-default btn-xs pull-right">
            <span class="glyphicon glyphicon-list"></span> Data
        </button>
    </span>

    <div class="modal" element.ref="modalTarget">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Data</h2>
                    <pre><code>${data | jsonFormat}</code></pre>
                </div>
            </div>
        </div>
    </div>
</template>