<template>
    <div class="card">
        <div class="card-header card-inverse card-warning">
            <div class="card-title">
                <button collapse="target.bind: collapseTarget; show.bind: collapseShow"
                        class="btn btn-default btn-xs">
                    <icon icon="${collapseShow ? 'chevron-up' : 'chevron-down'}"></icon>
                </button>

                Presets

                <small>
                    <a href="https://github.com/showcases">Sets of repos based on topics</a>
                    <a href="https://github.com/showcases">
                        <icon icon="fa-question-circle-o"></icon>
                    </a>
                </small>
            </div>
        </div>
        <div class="card-block collapse" element.ref="collapseTarget">
            <ul class="list-inline">
                <li repeat.for="preset of presets" class="list-inline-item">
                    <button popover="content.bind: presetContent; title.bind: preset.name; placement: bottom;"
                            class="btn btn-sm">
                        <icon icon="list-alt"></icon>&nbsp;${preset.name}
                        <span class="tag tag-pill tag-default">
                        ${preset.repos.length}
                        </span>
                    </button>

                    <div element.ref="presetContent" hidden>
                        <ul>
                            <li repeat.for="repo of preset.repos">
                                <code>${repo}</code>
                            </li>
                        </ul>
                        <button click.trigger="selectPreset(preset)" class="btn btn-primary">
                            Select
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>