<template>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">
                <button collapse="target.bind: collapseTarget; show.bind: collapseShow"
                        class="btn btn-default btn-xs">
                    <span toggle-class="toggle.bind: collapseShow;
                          show: glyphicon-chevron-up;
                          hide: glyphicon-chevron-down;" class="glyphicon"></span>
                </button>

                Presets

                <small>
                    <a href="https://github.com/showcases">Sets of repos based on topics</a>
                    <a href="https://github.com/showcases">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </small>
            </h3>
        </div>
        <div class="panel-body collapse" element.ref="collapseTarget">
            <ul class="list-inline">
                <li repeat.for="preset of presets">
                    <a click.trigger="selectPreset(preset)" class="btn btn-default">${preset.name}</a>
                </li>
            </ul>
        </div>
    </div>
</template>