<template>
    <require from="./repo-table-item"></require>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="active">
                <th>Repo</th>
                <th>Created</th>
                <th>Size</th>
                <th>Watchers</th>
                <th>Subscribers</th>
                <th>Pull requests</th>
                <th>Forks</th>
                <th>Open Issues</th>
                <th class="_info">
                    <div class="no-wrap">
                        <button click.trigger="updateAll()" disabled.bind="!hasRepos"
                                title="Update all" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-refresh" au-target-id="49"></span>
                        </button>
                        &nbsp;
                        <button click.trigger="removeAll()" disabled.bind="!hasRepos"
                                title="Remove all" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        &nbsp;
                        <button collapse-group="group: repo-table-items; command: show;"
                                disabled.bind="!hasRepos"
                                title="Expand all"
                                class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        &nbsp;
                        <button collapse-group="group: repo-table-items; command: hide;"
                                disabled.bind="!hasRepos"
                                title="Collapse all"
                                class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <template repeat.for="repo of repos.items">
                <repo-table-item repo.bind="repo"></repo-table-item>
            </template>
            </tbody>
            <tfoot>
            <tr if.bind="isRepoAdding">
                <td colspan="9" class="info _text-center">
                    <img src.bind="defaultGitHubImageUrl & oneTime" class="repo-owner-avatar" />
                    &nbsp;
                    <code>Adding repo(s)...</code>
                    <span class="glyphicon glyphicon-hourglass"></span>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</template>