<template>
    <require from="./repo-table-item"></require>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="active">
                <th>Repo</th>
                <th>Created</th>
                <th>Size</th>
                <th>Watchers</th>
                <th>Subscribers</th>
                <th>Pull requests</th>
                <th>Forks</th>
                <th>Open Issues</th>
                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>
            <template repeat.for="repo of repos.items">
                <repo-table-item repo.bind="repo"></repo-table-item>
            </template>
            </tbody>
            <tfoot if.bind="isRepoAdding">
            <tr>
                <td colspan="9" class="info text-center">
                    <span class="glyphicon glyphicon-hourglass"></span>
                    <code>Adding repo(s)...</code>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</template>