<template>
    <require from="./repo-table-item"></require>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Repo</th>
                <th>Created</th>
                <th>Size</th>
                <th>Watchers</th>
                <th>Subscribers</th>
                <th>Pull requests</th>
                <th>Forks</th>
                <th>Open Issues</th>
                <th class="no-wrap text-xs-right">
                    <button click.trigger="updateAll()" disabled.bind="!hasRepos"
                            title="Update all" class="btn btn-success btn-xs">
                        <icon icon="refresh"></icon>
                    </button>
                    &nbsp;
                    <button click.trigger="removeAll()" disabled.bind="!hasRepos"
                            title="Remove all" class="btn btn-danger btn-xs">
                        <icon icon="trash"></icon>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <template repeat.for="repo of repos.items">
                <repo-table-item repo.bind="repo"></repo-table-item>
            </template>
            </tbody>
            <tfoot>
            <tr if.bind="isRepoAdding">
                <td colspan="9" class="table-info">
                    <img src.bind="defaultGitHubImageUrl & oneTime" class="repo-owner-avatar"/>
                    &nbsp;
                    <code>Adding repo(s)...</code>
                    <icon icon="spinner" size="lg" pulse></icon>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</template>