<template>
    <require from="../shared/google-chart"></require>

    <div class="card">
        <div class="card-header card-inverse card-info">
            <div class="card-title">Stats</div>
        </div>

        <div class="card-block">
            <div class="col-md-4 col-sm-6">
                <google-chart type.one-time="'PieChart'" data.bind="sizesData" options.one-time="sizesOptions"></google-chart>
            </div>
            <div class="col-md-4 col-sm-6">
                <google-chart type.one-time="'PieChart'" data.bind="watchersData" options.one-time="watchersOptions"></google-chart>
            </div>
            <div class="col-md-4 col-sm-6">
                <google-chart type.one-time="'PieChart'" data.bind="subscribersData" options.one-time="subscribersOptions"></google-chart>
            </div>
            <div class="col-md-4 col-sm-6">
                <google-chart type.one-time="'PieChart'" data.bind="pullRequestsData" options.one-time="pullRequestsOptions"></google-chart>
            </div>
            <div class="col-md-4 col-sm-6">
                <google-chart type.one-time="'PieChart'" data.bind="forksData" options.one-time="forksOptions"></google-chart>
            </div>
            <div class="col-md-4 col-sm-6">
                <google-chart type.one-time="'PieChart'" data.bind="openIssuesData" options.bind="openIssuesOptions"></google-chart>
            </div>
        </div>
    </div>
</template>