/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/** {
  margin: 0;
}*/
html, body {
  height: 100%;
}
.site-wrap {
  min-height: 100%;
  margin-bottom: -40px; 
}
.site-wrap:after {
  content: "";
  display: block;
}
.site-footer, .site-wrap:after {
  height: 40px; 
}

table tr.collapse.in {
    display: table-row;
}

.fa-fw {
    height: 1.28571429em;
}

.alerts-list .alert {
    margin-bottom: 0;
}

.repo-owner-avatar {
    max-height: 32px;
    max-width: 32px;
}
.repo-owner-avatar-placeholder {
    display: inline-block;
    height: 32px;
    width: 32px;
}

.card-block .list-inline {
    margin-bottom: 0;
}

.card-block .list-inline .list-inline-item {
    padding-bottom: 2px;
    padding-top: 2px;
}

.card-header {
    padding: 0.5rem 0.75rem;
}

.card-header > .card-title {
    margin-bottom: 0;
}

.card-header .btn,
.card-header button {
    line-height: 1.5;
}

.card-title {
    font-weight: bold;
}

.card-footer .panel, .card-block .card {
    margin-bottom: 0;
}

.btn-xs {
    border-radius: 0.15rem;
    font-size: 0.75rem;
    padding: 0.125rem 0.25rem;
}

.no-wrap {
    white-space: nowrap;
}